@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
	--width-mobile: 375px;
	--width-desktop: 1440px;

	--clr-dark-grayish-blue: hsl(217, 19%, 35%);
	--clr-desaturated-dark-blue: hsl(214, 17%, 51%);
	--clr-grayish-blue: hsl(212, 23%, 6);
	--clr-light-grayish-blue: hsl(210, 46%, 95%);

	--ff: 'Kumbh Sans', sans-serif;
	--fs: 13px;
	--fw-a: 500;
	--fw-b: 700;
}

*, ::after, ::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-size: var(--fs);
	font-family: var(--ff);
	display: flex;
	justify-content: center;
	background-color: var(--clr-light-grayish-blue);
}
main {
	width: var(--width-mobile);
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	width: 325px;
	background-color: #fff;
	border-radius: 10px;
}
.image-center > img {
	width: 325px;
	height: 180px;
	margin-bottom: 2rem;
}
.content {
	padding: 0 2rem;
}
article > h1 {
	font-weight: var(--fw-b);
	font-size: 1rem;
	color: var(--clr-grayish-blue);
	line-height: 1.3rem;
	margin-bottom: 1rem;
}
article > p {
	font-size: var(--fs);
	color: var(--clr-dark-grayish-blue);
	line-height: 1.2rem;
}
.user {
	display: grid;
	grid-template-columns: 20% 70% 10%;
	padding: 1.2rem 0;
}
.user-image > img {
	width: 40px;
	border-radius: 50%;
}
.user-details > h2 {
	font-size: var(--fs);
	font-weight: var(--fw-b);
	color: var(--clr-grayish-blue);
	margin-bottom: 4px;
}
.user-details > p {
	font-size: 0.75rem;
	color: var(--clr-dark-grayish-blue);
}
.share-btn {
	border: none;
	border-radius: 50%;
	background: var(--clr-light-grayish-blue);
	width: 28px;
	height: 28px;
	position: relative;
	top: 5px;
	cursor: pointer;
}
footer {
	background-color: var(--clr-dark-grayish-blue);
	margin-top: 1.2rem;
	padding: 1rem 2rem;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.social-media {
	display: grid;
	grid-template-columns: 30% 60% 10%;
}
#share {
	text-transform: uppercase;
	letter-spacing: 3px;
	color: var(--clr-light-grayish-blue);
	position: relative;
	top: 2px;
}
.social-icon {
	padding: 0 6px;
}
.svg {
	background: var(--clr-desaturated-dark-blue);
	top: -3px;
}
#share-icon {
	fill: #fff;
}
.hide {
	display: none;
}
/*@media only screen and (min-width: 1024px){
	main {
		width: 1024px;
		background-color: aliceblue;
	}
	.container {
		width: 720px;
		display: grid;
		grid-template-columns: auto auto;
	}
	.image-center{
		overflow: hidden;
	}
	.image-center > img {
		width: 270px;
		min-height: 248px;
		margin: 0;
		padding: 0;
		height: auto;
	}
	.user {
		padding-bottom: 0;
	}
	.content{
		padding: 2rem;
	}
}*/